<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand" href="kpal/:id">ÇAKIROĞLU Gayrimenkul</a>
    <button class="navbar-toggler button4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="kpal/:id">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="ilanim">İlanlarım</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="favori">Favorilerim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="iver">İlan Ver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="OturumuKapat()" style="cursor:pointer">Çıkış</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section>
  <div class="carousel slide" data-bs-ride="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets\img20.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets\img21.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets\img18.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="mt-5" >
    <div class="row">
      <div class=" card mt-5 kenarakay hover-overlay-container" *ngFor="let Urun of Urunler" style="width: 27rem;">
        <div class="card-body" >
          <img class="overlay-image" src={{Urun.img}} alt="" style="height: 300px; width: 100%; object-fit:cover;">
          <p class="mt-3 overlay-image ilanp">{{Urun.aciklama}}</p>
          <div class="overlay-btn-container">
            <a href="#" class="overlay-btn"  [routerLink]="['/urund',Urun.key]" >İlanı Gör</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-2 footerbody" style="background-color: #222;">
  <div class="container text-white mt-4">
      <div class="row">
          <div class="col-4 col-md-3">
              <h3><b><a class="kısa" href="/">ÇAKIROĞLU Gayrimenkul</a></b></h3>
              <div class="col-md-6 popup-container">
                  <label class="button3" for="login-popup">Bize Ulaşın</label>
                  <input class="input1" type="checkbox" id="login-popup">
                  <div class="popup">
                      <label for="login-popup"></label>
                      <div class="inner">
                          <div class="title">
                              <h6 class="mt-2">İLETİŞİM FORMU</h6>
                          </div>
                          <div class="content">
                              <label for="name"></label>
                              <input class="input1" type="text" name="name" required="" placeholder="Ad-Soyad" autocomplete="nickname">
                              <label for="mail"></label>
                              <input class="input1" type="email" name="mail" required="" placeholder="E-mail" autocomplete="email">
                              <label for="text"></label>
                              <textarea name="" id="" cols="30" rows="1" required="" placeholder="KONU" autocomplete="false"></textarea>
                              <label class="input1" for="text"></label>
                              <textarea class="textarea1" name="" id="" cols="30" rows="10" required="" placeholder="AÇILAMANIZ"></textarea>
                              <button class="button1" type="submit">GÖNDER</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 popup-container1 ">
                  <label class="button2" for="login-popup1">İletişim</label>
                  <input class="input1"type="checkbox" id="login-popup1">
                  <div class="popup1">
                      <label for="login-popup1"></label>
                      <div class="inner1">
                          <div class="title1">
                              <h6 class="mt-2">İLETİŞİM</h6>
                          </div>
                          <div class="content1">
                              <table class="tablo mt-4">
                                  <tr>
                                      <td class="col-md-6 baslık">Müşteri Hizmetleri</td>
                                      <th class="col-md-6 alt">0212 999 99 99 <br>0850 999 99 99</th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">E-Mail</td>
                                      <th class="col-md-6 alt">bilgi@marka.com</th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">Teknik Destek</td>
                                      <th class="col-md-6 alt">0535 999 99 99 <br>0850 999 99 99 </th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">Destek Sistemi</td>
                                      <th class="col-md-6 alt">destek@marka.com</th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">Faks</td>
                                      <th class="col-md-6 alt">0212 999 99 99</th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">Adres</td>
                                      <th class="col-md-6 alt">Pınarbaşı, Akdeniz Ünv. No:21, 07070 Konyaaltı/Antalya</th>
                                  </tr>
                                  <br>
                                  <br>
                                  <br>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-4 col-md-2">
              <ul class="list-unstyled">
                <li type="button3"><a class="kısa" href="/">Anasayfa</a> </li>
                  <li type="button3"><a class="kısa" href="ilanim">İlanlarım</a></li>
                  <li type="button3"><a class="kısa" href="favori">Favorilerim</a></li>
                  <li type="button3"><a class="kısa" href="iver">İlan Ver</a></li>
                  <li type="button3"><a class="kısa" href="giris">Çıkış</a></li>
              </ul>
          </div>
          <div class="col-md-3">
          </div>
          <div class="clearfix"></div>
          <p class="text-center"><small>&#169; TÜM HAKLARI SAKLIDIR</small></p>
      </div>
  </div>
</footer>