<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">ÇAKIROĞLU Gayrimenkul</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="satılık" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Satılık & Kiralık
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li  *ngFor="let Kategori of Kategoriler">
              <a class="dropdown-item" href="satılık">{{Kategori.katAdi}}</a>
              </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="uyeol">İlan Ver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="giris">GİRİŞ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container "> 
  <div class="row">
    <div class="col-md-5 ms-5 mt-2">
      <input class="ara input2"type="text" class="input2 ara " placeholder="İL, ilçe, mahalle,">
      <button class="ara">Ara</button>
    </div>
    <div class="col-md-5 ms-auto mt-2" (click)="addEventHandler()">
      <nav class="menu">
        <ul>
          <li data-dropdown > 
            <a href="Satılık">
              İl-İlçe-Mahalle
            </a>
            <div class="dropdown">
              <ul>
                <li data-dropdown *ngFor="let Il of iller">
                  <a href="Satılık">
                    {{Il.il}}
                  </a>
                  <div class="dropdown">
                    <ul>
                      <li data-dropdown>
                        <a href="#">Fonksiyonlar</a>
                        <div class="dropdown">
                          <ul>
                            <li>
                              <a href="#">Dizi Fonksiyonları</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li data-dropdown>
            <a href="#">
              Fiyat Aralığı
            </a>
            <div class="dropdown">
              <ul>
                <li data-dropdown>
                  <a href="#">
                    PHP Dersleri
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li data-dropdown>
            <a href="#">
              Oda Sayısı
            </a>
            <div class="dropdown">
              <ul>
                <li data-dropdown *ngFor="let oda of Odalar">
                  <a href="#">
                    {{oda.odas}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li data-dropdown>
            <a href="#">
              Detaylı Filtre
            </a>
            <div class="dropdown">
              <ul>
                <li data-dropdown>
                  <a href="#">
                    PHP Dersleri
                  </a>
                  <div class="dropdown">
                    <ul>
                      <li data-dropdown>
                        <a href="#">Fonksiyonlar</a>
                        <div class="dropdown">
                          <ul>
                            <li>
                              <a href="#">Dizi Fonksiyonları</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<section>
  <div class="container" *ngFor="let Urun of Urunler">
    <div class="row">
      <div class="card-horizontal col-md-12 hover-overlay-container">
        <div class="card-header">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <img class="overlay-image" src="assets\img4.jpg" alt="" style="height: 150px; width: 50%; object-fit:cover;">
                </div>
                <div class="col-md-8">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <td>{{Urun.urunadi}}</td>
                        <td>{{Urun.oda}}</td>
                        <td>{{Urun.salon}}</td>
                      </div>
                      <div class="col-md-4">
                        <td>{{Urun.banyo}}</td>
                        <td>{{Urun.brut}}</td>
                        <td>{{Urun.net}}</td>
                      </div>
                      <div class="col-md-4">
                        <td>{{Urun.binayas}}</td>
                        <td>{{Urun.binakat}}</td>
                        <td>{{Urun.aidat}}</td>
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <td>{{Urun.kira}}</td>
                        <td>{{Urun.adres}}</td>
                        <td>{{Urun.Takas}}</td>
                      </div>
                      <div class="col-md-4">
                        <td>{{Urun.Site}}</td>
                        <td>{{Urun.Cephe}}</td>
                        <td>{{Urun.KullanimDurumu}}</td>
                      </div>
                      <div class="col-md-4">
                        <td>{{Urun.YapiDurumu}}</td>
                        <td>{{Urun.Yakit}}</td>
                        <td>{{Urun.alan}}</td>
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4"
                        ><td>{{Urun.Esya}}</td>
                        <td>{{Urun.Tapu}}</td>
                        <td>{{Urun.bulkat}}</td>
                      </div>
                      <div class="col-md-4">
                        <h1><strong>{{Urun.urunfiyat}}</strong></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlay-btn-container">
              <a href="#" class="overlay-btn">İlanı Gör</a>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
<footer class="py-2 footerbody" style="background-color: #222;">
  <div class="container text-white mt-4">
      <div class="row">
          <div class="col-4 col-md-3">
              <h3><b><a class="kısa" href="/">ÇAKIROĞLU Gayrimenkul</a></b></h3>
              <div class="col-md-6 popup-container">
                  <label class="button" for="login-popup">Bize Ulaşın</label>
                  <input class="input1" type="checkbox" id="login-popup">
                  <div class="popup">
                      <label for="login-popup"></label>
                      <div class="inner">
                          <div class="title">
                              <h6 class="mt-2">İLETİŞİM FORMU</h6>
                          </div>
                          <div class="content">
                              <label for="name"></label>
                              <input class="input1" type="text" name="name" required="" placeholder="Ad-Soyad" autocomplete="nickname">
                              <label for="mail"></label>
                              <input class="input1" type="email" name="mail" required="" placeholder="E-mail" autocomplete="email">
                              <label for="text"></label>
                              <textarea name="" id="" cols="30" rows="1" required="" placeholder="KONU" autocomplete="false"></textarea>
                              <label class="input1" for="text"></label>
                              <textarea class="textarea1" name="" id="" cols="30" rows="10" required="" placeholder="AÇILAMANIZ"></textarea>
                              <button class="button1" type="submit">GÖNDER</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 popup-container1 ">
                  <label class="button2" for="login-popup1">İletişim</label>
                  <input class="input1"type="checkbox" id="login-popup1">
                  <div class="popup1">
                      <label for="login-popup1"></label>
                      <div class="inner1">
                          <div class="title1">
                              <h6 class="mt-2">İLETİŞİM</h6>
                          </div>
                          <div class="content1">
                              <table class="tablo mt-4">
                                  <tr>
                                      <td class="col-md-6 baslık">Müşteri Hizmetleri</td>
                                      <th class="col-md-6 alt">0212 999 99 99 <br>0850 999 99 99</th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">E-Mail</td>
                                      <th class="col-md-6 alt">bilgi@marka.com</th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">Teknik Destek</td>
                                      <th class="col-md-6 alt">0535 999 99 99 <br>0850 999 99 99 </th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">Destek Sistemi</td>
                                      <th class="col-md-6 alt">destek@marka.com</th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">Faks</td>
                                      <th class="col-md-6 alt">0212 999 99 99</th>
                                  </tr>
                                  <tr>
                                      <td class="col-md-6 baslık">Adres</td>
                                      <th class="col-md-6 alt">Pınarbaşı, Akdeniz Ünv. No:21, 07070 Konyaaltı/Antalya</th>
                                  </tr>
                                  <br>
                                  <br>
                                  <br>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-4 col-md-2">
              <ul class="list-unstyled">
                <li type="button"><a class="kısa" href="/">Anasayfa</a> </li>
                  <li type="button"><a class="kısa" href="hakkımda">Hakkımızda</a> </li>
                  <li type="button"><a class="kısa" href="iletisim">İletişim</a></li>
                  <li type="button"><a class="kısa" href="sss">S.S.S.</a></li>
                  <li type="button"><a class="kısa" href="giris">Giriş</a></li>
                  <li type="button"><a class="kısa" href="uyeol">Üye Ol</a></li>
              </ul>
          </div>
          <div class="col-4 col-md-3">
              <h3 class="mt-2 kısa"><strong>0553 866 15 61</strong></h3>
          </div>
          <div class="col-md-3">
          </div>
          <div class="clearfix"></div>
          <p class="text-center"><small>&#169; TÜM HAKLARI SAKLIDIR</small></p>
      </div>
  </div>
</footer>